<!DOCTYPE HTML>
<html>

<head>
  <title>CELR Volunteering</title>
  <meta name="viewport" content="initial-scale=1">

  <!-- CELR Navbar CSS -->
  <link href="application.css" media="screen" rel="stylesheet" type="text/css"/>

  <!-- CELR Welcome Page CSS -->
  <link href="welcome.css" media="screen" rel="stylesheet" type="text/css"/>

  <!-- Google Fonts: OpenSans -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">

  <!-- Font Awesome Images -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

  <!--  Window Scroll for Chevron-->
  <script type="text/javascript">
      function scrollToContainer() {
          document.querySelector(".container2").scrollIntoView({
              behavior: 'smooth'
          });
      }

  </script>
</head>

<body>

<div class="container">
  <div class="background"></div>

  <h1 class="giant">SOLVER</h1>
  <h4>Student On-Line Voting Engagement and Registration</h4>
  <ul class="menu">


      <div class="menu-buttons button1">
        <a class="content"><%= link_to "Election List", elections_path %></a>
      </div>
      <div class="menu-buttons button2">
        <a class="content"><%= link_to "How To Register", elections_path %></a>
      </div>
      <div class="menu-buttons button2">
        <a class="content"><%= link_to "About", elections_path %></a>
      </div>



  </ul>

  <div class="container2">
    <div>
      <p>
        The project's goal is getting students registered to vote, as well as informing people about upcoming elections, the politicians who are running, and what their stances are.
        A large percentage of the population fails to go out and vote for most elections, meaning that their voices are unheard.
        People are more likely to go out and vote if they are informed about the elections and what the politicians are campaigning on.
      </p>

    </div>
  </div>

  <div id="foots"></div>
</div>
</body>

<p>
  <%= link_to 'Add election', new_election_path %>


<p>
  Click here to see the project's GitHub page:
  <form action="https://github.com/jbennet-t/SOLVER">
  <button type="submit">GitHub</button>
  </form>
</p>

</html>