</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/main_page/index">SOLVER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/main_page/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/elections">Election List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">How to Register</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Main Page</title>
</head>





<h1>SOLVER Welcome Page</h1>


<h2>Info:</h2>
<p>
  This is the main page for the SOLVER Project (Student OnLine Voting Engagement and Registration)
</p>
<p>
  The project's goal is getting students registered to vote, as well as informing people about upcoming elections, the politicians who are running, and what their stances are.
  A large percentage of the population fails to go out and vote for most elections, meaning that their voices are unheard.
  People are more likely to go out and vote if they are informed about the elections and what the politicians are campaigning on.
</p>
<%= link_to 'Add election', new_election_path %>


<p>
  Click here to see the project's GitHub page:
<form action="https://github.com/jbennet-t/SOLVER">
  <button type="submit">GitHub</button>
</form>


</html>