<!--
// Project name: SOLVER
// Description: Create webapp that encourages students to vote and register to vote. Presents information
    about how to register and vote, and list of upcoming elections and candidates for those elections.
// Filename: main_page\index.html.erb
// Description: main/home page of webapp
// Last modified on: 11/24/2019
-->



<html>
  <title>Main Page</title>

<h1>SOLVER Welcome Page</h1>

<h2>Info:</h2>
<p>
  This is the main page for the SOLVER Project (Student OnLine Voting Engagement and Registration)
</p>
<p>
  The project's goal is getting students registered to vote, as well as informing people about upcoming elections, the politicians who are running, and what their stances are.
  A large percentage of the population fails to go out and vote for most elections, meaning that their voices are unheard.
  People are more likely to go out and vote if they are informed about the elections and what the politicians are campaigning on.
</p>

  <% if current_user  %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> <!-- if user is signed in-->

  <% else %> <!-- if user isn't signed in-->
  <%= link_to "Sign Up", new_user_registration_path %>
  <%= link_to "Sign In", new_user_session_path %>
  <% end %>


  <br><br><br>
<p>
  Click here to see the project's GitHub page:
<form action="https://github.com/jbennet-t/SOLVER">
  <button type="submit">GitHub</button>
</form>
</p>

</html>