<html>
<h1>How To Register</h1>


<p>

</p>
<body>
<p>
<h4>Qualifications For Voting</h4>
The criteria for being qualified to vote differs from state to state.
In order to register to vote in New Jersey, you must meet the following criteria:
<ol>
  <li>Be a United States Citizen</li>
  <li>Be at least 17 years old, though you are not permitted to vote till you have reached the age of 18</li>
  <li>Be a resident of the country for 30 days before the election</li>
  <li>Be a person not currently serving a sentence, probation, or parole because of a felony conviction</li>
</ol>

<!--
// Project name: SOLVER
// Description: Create webapp that encourages students to vote and register to vote. Presents information
    about how to register and vote, and list of upcoming elections and candidates for those elections.
// Filename: pages\index.html.erb
// Description: informational page containing details of how to register and vote, as well as links
// Last modified on: 11/24/2019
-->


<h4>Resources for Registering to Vote</h4>
<ul>
  <li><h6>How to Register By Mail</h6></li>
  You can register by mail-in form for any state in the US: <a href="https://www.eac.gov/voters/national-mail-voter-registration-form/"> National Mail Registration Form.</a>
  To register, simply download the form from the above page in you prefered language, and fill it out following the state-specific instructions for your state.
  Then, sign and seal the form in an envelope, and send to your state or local election office. Election offices can be found with a simple search,
  such as: "Election office address for 'MY STATE'"
  <li><h6>Polling Place Search</h6></li>
  In order to find your local voting location in New Jersey you can visit this site: <a href="https://www.eac.gov/voters/national-mail-voter-registration-form/">Polling Place Search </a>
  <li><h6>TCNJ Votes!</h6></li>
  Learn more about TCNJ's voting initiative: <a href="https://vote.tcnj.edu/">TCNJ Votes!</a>
  <li><h6>New Jersey Department of Elections</h6></li>
  This resource provides a lot of information about candidates, elections, and how, when, and where to vote in NJ:
  <a href="https://www.state.nj.us/state/elections/>Polling Place Search">New Jersey Division of Elections</a>

</ul>

</p>
</body>

<h5>Informational video for first time voters:</h5>

<iframe width="696" height="396" src="https://www.youtube.com/embed/JAI9vuvCads" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



</html>